header#pageheader {
  height: 269px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


#iconYourName {
  display: flex;
  background-color: chartreuse;
  background-image: url("");
  background-repeat: repeat;
  flex-direction: column;
  align-items: center;
}

#iconYourName img {

  height: 46%;
}

h2#name {
  color: deeppink;
}